asgiref
certifi
contourpy
crispy-bootstrap5
cycler
distlib
Django
django-crispy-forms
django-email
django-environ
dj-database-url
filelock
fonttools
kiwisolver
matplotlib
MouseInfo
numpy
packaging
pandas
Pillow
pipenv
platformdirs
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
pyparsing
pyperclip
PyRect
PyScreeze
python-dateutil
pytweening
pytz
six
sqlparse
tzdata
virtualenv